<h1>Encounters</h1>
<div class="narrated_encounters">
  <h2>Narrator</h2>
  <p>
    <%= link_to "Create an Encounter", new_encounter_path %>
  </p>

  <%= render @narrated_encounters %>
</div>

<div class="encounters">
  <h2>Player</h2>
  <p>
    <%= link_to "Join an Encounter", party_memberships_path %>
  </p>

  <%= render @encounters %>

</div>
