<h1>New Encounter</h1>

<%= form_for @encounter, html: {id: "new_encounter"} do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>

<% end %>
