<h1>Sovereigns Finest</h1>

<table id="characters">
  <thead>
    <tr>
      <td class="name">Name</td>
      <td class="health">Health</td>
      <td class="control"></td>
    </tr>
  </thead>
  <tbody id="list">
    <%= render @characters %>
  </tbody>
  <%= render partial: 'characters/form' %>
</table>

<div id="message">
  Message:
  <input type="text">
</div>

<div id="messages">
</div>
