// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message.system {
  color: #aaa;
  font-size: 14px;
}
.message.chat {
  font-size: 16px;
}
.message {
  .timestamp {
    color: #aaa;
    font-size: 14px;
    text-transform: lowercase;
  }
  .body {
  }
}
