<!DOCTYPE html>
<html>
  <head>
    <title>Sovereign's Finest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Sovereign's Finest</h1>
    <p>Connection: <span id="connection" class="off">Off</span></p>
    <%= yield %>
  </body>
</html>
